body {
	background-color: #000;
	font-family: Helvetica,Arial,san-serif;
	color: #7cb7f1;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}

img {
	border: none;
}

#wrapper {
	margin: 0px auto;
	width: 800px;
	overflow: hidden;
}

	#header {
		height: 100px;
		position: relative;
	}
	
		#logo {
			margin-top: 30px;
		}
	
		#nav {
			list-style-type: none;
			position: absolute;
			bottom: -16px;
			*bottom: -2px;
			right: 0px;
			text-align: center;
			height: 20px;
			padding: 5px 0px;
			
		}
			#nav li {
				display: inline;
			}
			
				#nav li a {
					text-decoration: none;
					color: white;
					width: 62px;
					height: 30px;
					padding: 10px 20px;
				}
				
				#nav li a:hover, .active {
					background-image: url(../img/navHover.png);
				}
				
	#body {
		
	}
	
	   .masthead {
	       margin-bottom: 20px;
	   }
	
		.content {
			margin: 15px 0;
			display: block;
			overflow: hidden;
		}	
				
    .projectList {
        margin: 0px;
        padding: 0px;
    }
    
        .projectList li {
            display:inline-block;
            vertical-align: top;
            zoom: 1;
            *display: inline;
            margin-right: 15px;
            margin-bottom: 15px;
        }
        
        .projectList li:nth-child(4n+0){
            margin-right: 0px;
        }
        
        .projectList img {
            border: 10px solid #FFF;
        }
        
        .projectName {
            font-size: 12px;
        }
        
        .photoList {
            display: none;
        }
				
	form {
	
	}
		label {
			margin-top: 10px;
			font-weight: 400;
			font-size: 14px;
			color: #FFF;
		}
		
		input.text {
			margin-bottom: 20px;
			width: 315px;
		}
		
		textarea {
			width: 315px;
			height: 100px;
		}