{% extends "site_base.html" %}
{% load inlines frontendadmin_tags %}
{% block head_title %}{{ flatpage.title }}{% endblock %}

{% block body_class %}greenPage caseStudies{% endblock %}

{% block body %}
<a href="/for-advertisers/programs/scriptbags/"><img src="{{ STATIC_URL }}images/scriptbagsLogo.png" alt="scriptbagsLogo" width="235" height="57" style="float:left;" /></a>
<ul id="subs" class="subButtons">
    <li><a href="/for-advertisers/programs/scriptbags/concept/">Concept</a></li>
    <li><a href="/for-advertisers/programs/scriptbags/capabilities/">Capabilities</a></li>
    <li><a href="/for-advertisers/programs/scriptbags/case-studies/">Case Studies</a></li>
</ul>
<div id="subpageMain">
	<h1>{{ form.title }}</h1>
	<p>{{ form.response }}</p>
</div>
<div id="sideNav">&nbsp;</div>
{% endblock %}