#!/bin/sh
source /home/serveruser/.virtualenvs/raindropcreative/bin/activate
cd /home/serveruser/development-sites/raindropcreative/
python manage.py build_static --noinput
supervisorctl stop mccollister
deactivate
